*{margin:0px; padding:0px; box-sizing:border-box;}

body{
    background-color: crimson;
}

.container{
    margin-top:100px;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;

}

.box-superior{
    background-color:rgb(87, 141, 196);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 1.5rem;
}


.box-inferior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    font-size: 20px;
    font-family:serif;
    color: white;
}

input{
    margin: 14px 0;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 7px;
    text-align: center;
}


#Div-Resultado{
    width: 244px;
    height: 90px;
    background-color: rgb(87, 141, 196);
    margin: 22px auto;
    border-radius: 7px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

#botoes > button{
    margin-top: 15px;
    width: 120px;
    padding: 10px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(39, 39, 39);
    color:white;
    transition: 0.5s all;
}

#botoes > button:hover{
    background-color: white;
    color:black;
}

